*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Trebuchet MS', Helvetica, sans-serif;
    background: white url(../images/fundo.png) repeat-x;
}

#container{
    width: 780px;
    margin: 0 auto;
}

#topo{
    height: 150px;
    background: url(../images/detalhe-topo.png) no-repeat right top;
    /*border: 1px solid red;*/
    padding-top: 25px;
}

.logo{
    width: 152px;
    height: 66px;
    background: url(../images/logo.png) no-repeat center;
    text-indent: -3000px;
}

/* Barra de navegação */

a:link, a:visited {
    color: #b10333;
    padding: 2px;
}

a:hover {
    color: #e50040;
}

ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

#topo ul{
    margin-top: 30px;
    background: #b10333;
    float: left;
}

#topo ul li{
    float: left;
}

#topo ul a{
    font-size: 0.9em;
    display: block;
    padding: 0.5em 1.5em;
    line-height: 2.1em;
    text-decoration: none;
    color: white;
    background: url(../images/divisor.png) no-repeat left;
}

#topo ul .primeiro a{
    background: none;
}

#topo ul a:hover{
    color: #69001d;
}

body.home #navegacao a#home,
body.brasil #navegacao a#brasil,
body.internacional #navegacao a#internacional,
body.economia #navegacao a#economia,
body.saude #navegacao a#saude,
body.ciencia #navegacao a#ciencia,
body.fotos #navegacao a#fotos

{
    color: white;
    background: #de003e;
    cursor: text;
}

#conteudo{
    margin-top: 60px;
    background: #f5f5f5;
}

#lateral{
    width: 180px;
    float: left;
    margin: 0 0 20px -780px;
}

#primario{
    width: 280px;
    float: left;
    margin: 0 0 20px 200px;
}

#duas-colunas #primario{
    width: 580px;
}

#uma-coluna #primario{
    width: 780px;
    margin: 0 0 20px 0;
}

#secundario{
    width: 280px;
    float: left;
    margin: 0 0 20px 20px;
}

.caixa{
    margin: 10px 0;
    padding: 5px;
    background: #f3f3f3 url(../images/fundo-caixa.png);
}

h2{
    font-size: 1.2em;
    background: #294c71;
    color: white;
    padding: 5px;
}

.caixa-conteudo{
    background: white;
    padding: 5px;
    margin-top: 5px;
}

#lateral ul a {
    font-size: 0.9em;
    padding: 3px;
    display: block;
    line-height: 30px;
    color: black;
    text-decoration: none;
    border-bottom: 1px solid #f3f3f3;
}

#lateral ul a:hover {
    background: url(../images/marcador.png) #f9f9f9 no-repeat left center;
    padding-left: 20px;
    color: #a1a1a1;
}

label {
    display: block;
    cursor: pointer;
}

input {
    padding: 5px;
    font-size: 0.9em;
    width: 130px;
    background-color: white;
    border: 1px solid lightgrey;
}

input.submit {
    width: 80px;
    color: white;
    background-color: #b10333;
    border: 2px solid #870529;
}

img.imagem-principal {
    width: 98%;
    border: 3px solid #dfdfdf;
}

h3 {
    text-transform: uppercase;
    display: inline;
    font-size: 0.8em;
    padding: 3px;
}

.destaque h3 {
    background: #b10333;
    color: white;
}

.entrevista h3 {
    background: #de003e;
    color: black;
}

/* Formatando lista de notícias */

#lista-noticias li {
    padding: 2px;
    border-bottom: 1px solid #ccc;
    height: 62px;
}

#lista-noticias li a img {
    float: left;
    margin: 5px;
}

#lista-noticias li a {
    text-decoration: none;
}

#lista-noticias li a h3 {
    color: #3e7ab9;
    padding: 0;
    font-size: 0.8em;
}

#lista-noticias li a p {
    font-size: 0.7em;
    color: black;
}

#lista-noticias li:hover {
    background: #f9f9f9;
    cursor: pointer;
}


/* Rodapé */

#container-rodape{
    background: #294c71;
    padding: 20px;
}

#rodape{
    width: 780px;
    margin: 0 auto;
    color: white;
}